.validation-message {
    color: red;
    padding-top: 0.3rem;
    font-size: small;
}

.error-message {
    color: red;
    font-size: small;
}

/* Change default boostrap rule from 1400px to 1500px */
#login-form .custom-col-xxl-2 {}

@media (min-width: 1500px) {
    #login-form .custom-col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}