@if (Data != null && Data.Count() > 0)
{
    <div class="list-group d-grid gap-3">
        @foreach (var author in Data)
        {
            <div class="list-group-item border rounded">
                <img src="@author.ImageLink" width="100" height="100" class="rounded float-start me-2">
                <div class="d-flex justify-content-between">
                    <NavLink href="@{$"/authors/{author.Id}"}"><h5>@author.Name</h5></NavLink>
                </div>
                <div class="d-flex flex-column">
                    <p class="mb-1">@author.Born.ToCustomDateFormat()</p>
                    <p class="mb-1">@author.Country</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>Loading...</div>
}