@page "/user/{userId:guid}/reservations"
@attribute [Authorize]

@using Ebla.Web.Features.Reservation.Components

<PageTitle>Ebla - My Reservations</PageTitle>

<div class="row">
    <div class="col-sm-8">
        <TableView Data="@Reservations" />
    </div>
</div>