<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="@NavLinkMatch.All">Ebla</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/libraries" Match="@NavLinkMatch.All">Libraries</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/books" Match="@NavLinkMatch.All">Books</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/authors" Match="@NavLinkMatch.All">Authors</NavLink>
                        </li>
                    </ul>
                    <form class="d-flex ms-2 me-auto">
                        <input class="form-control me-2" type="search" placeholder="Search...">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropstart">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <AuthorizeView Roles="Administrator" Context="AdminContext">
                                    <Authorized><i class="bi bi-person-fill-gear"></i></Authorized>
                                    <NotAuthorized><i class="bi bi-person-fill"></i></NotAuthorized>
                                </AuthorizeView>
                            </a>
                            <ul class="dropdown-menu">
                                <li><NavLink class="dropdown-item" href="@{$"/user/{context.User.GetIdentifier()}"}">Profile</NavLink></li>
                                <li><NavLink class="dropdown-item" href="@{$"/user/{context.User.GetIdentifier()}/reservations"}">My Reservations</NavLink></li>
                                <li><NavLink class="dropdown-item" href="@{$"/user/{context.User.GetIdentifier()}/loans"}">My Loans</NavLink></li>
                                <AuthorizeView Roles="Administrator" Context="AdminContext">
                                    <Authorized>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><NavLink class="dropdown-item" href="/reservations">Reservations</NavLink></li>
                                        <li><NavLink class="dropdown-item" href="/loans">Loans</NavLink></li>
                                        <li><NavLink class="dropdown-item" href="/users">Users</NavLink></li>
                                    </Authorized>
                                </AuthorizeView>
                                <li><hr class="dropdown-divider"></li>
                                <li><NavLink class="dropdown-item" href="@{$"/user/{context.User.GetIdentifier()}/settings"}">Settings</NavLink></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><NavLink class="dropdown-item" href="#" @onclick="SignOut">Sign out</NavLink></li>
                            </ul>
                        </li>
                    </ul>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>