<div class="card">
    <div class="card-header">Genre</div>
    <div class="list-group list-group-flush">
        @if (Genres != null && Genres.Count() > 0)
        {
            foreach (var genre in Genres)
            {
                <NavLink href="@{$"/books?genre={genre.Name}"}" class="list-group-item list-group-item-action">@genre.Name</NavLink>
            }
        }
        else
        {
            <div class="d-flex justify-content-center py-2"><Spinner /></div>
        }
    </div>
</div>