@if (Data != null && Data.Count() > 0)
{
    <table class="table table-bordered table-responsive">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Born</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Data)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.Name</td>
                    <td>@author.Born.ToYear()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Loading...</div>
}