@if (Data != null && Data.Count() > 0)
{
    <table class="table table-bordered table-responsive">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Established</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var library in Data)
            {
                <tr>
                    <td>@library.Id</td>
                    <td>@library.Name</td>
                    @if (library.Established.HasValue)
                    {
                        <td>@library.Established.Value</td>
                    }
                    else
                    {
                        <td>Unknown</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Loading...</div>
}