@page "/authors"
@attribute [Authorize(Roles = "User")]

<PageTitle>Ebla - Authors</PageTitle>

@if (Errors != null && Errors.Count() > 0)
{
    @foreach (var error in Errors)
    {
        <p class="error-message">@error</p>
    }
}
else
{
    <div class="row">
        <div class="col-sm-8">
            @if (AuthorList != null && AuthorList.Count() > 0)
            {
                <table class="table table-bordered table-responsive">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Born</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var author in AuthorList)
                        {
                            <tr>
                                <td>@author.Id</td>
                                <td>@author.Name</td>
                                <td>@author.Birthday.ToYear()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>Loading...</div>
            }
        </div>
    </div>
}