@page "/books"
@attribute [Authorize(Roles = "User")]

<PageTitle>Ebla - Books</PageTitle>

@if (Errors != null && Errors.Count() > 0)
{
    @foreach (var error in Errors)
    {
        <p class="error-message">@error</p>
    }
}
else
{
    <div class="row">
        <div class="col-sm-8">
            <BookListView Data="BookList" />
        </div>
    </div>
}