@page "/books"

<div class="row">
    <div class="col-sm-8">
        <table class="table table-bordered table-responsive">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Pages</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Published</th>
                    <th scope="col">Language</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sample Title</td>
                    <td>300</td>
                    <td>Sample Author</td>
                    <td>Sample Genre</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sample Title</td>
                    <td>300</td>
                    <td>Sample Author</td>
                    <td>Sample Genre</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sample Title</td>
                    <td>300</td>
                    <td>Sample Author</td>
                    <td>Sample Genre</td>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td>English</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>