@page "/"

<h1>Hello World!</h1>
<hr />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur orci elit, tristique vel molestie non, dictum eget diam.
    Morbi non lacus in lacus gravida placerat vel a sapien.
    Suspendisse ac eros lectus. Fusce quis tempor mauris.
    Nullam pretium eleifend libero, vitae faucibus tortor sollicitudin quis.
    Suspendisse viverra pharetra condimentum.
    Etiam sed imperdiet urna, id dapibus diam.
    Donec ornare odio justo, non rhoncus metus tempor id.
</p>