@page "/"

<PageTitle>Ebla - Start</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized.</p>
    </Authorized>
    <NotAuthorized>
        <LoginForm />
    </NotAuthorized>
</AuthorizeView>