@page "/"

<PageTitle>Ebla - Start</PageTitle>

@if (IsAuthorized)
{
    <div class="row">
        <div class="col-sm-6">
            <p class="text-break">@Token</p>
            <button class="btn btn-light btn-lg">Get Claims</button>
        </div>
    </div>
}
else
{
    <LoginForm />
}