@{
    ViewBag.Title = "Start";
}

<section class="start">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Welcome, @User.Identity.Name</h3>
    }
    else
    {
        <p>Sign in to start using the application.</p>
    }
</section>