@if (Data != null && Data.Count() > 0)
{
    <div class="list-group d-grid gap-3">
        @foreach (var library in Data)
        {
            <div class="list-group-item border rounded">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Blank_globe.svg" width="100" height="100" class="rounded float-start me-2">
                <div class="d-flex justify-content-between">
                    <NavLink href="@{$"/libraries/{library.Id}"}"><h5>@library.Name</h5></NavLink>
                </div>
                <div class="d-flex flex-column">
                    @if (library.Established.HasValue)
                    {
                        <p class="mb-1">@library.Established.Value.ToYear()</p>
                    }
                    else
                    {
                        <p class="mb-1">No date</p>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <Spinner />
}