@page "/login"

@model LoginModel

@{
    ViewBag.Title = "Login";
}

<section class="login">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h3>Login</h3></div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" asp-for="Username" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Password" />
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>