@page "/user/{userId:guid}/loans"
@attribute [Authorize]

<PageTitle>Ebla - My Loans</PageTitle>

<div class="row">
    <div class="col-sm-8">
        <LoansTable Data="@LoanList" />
    </div>
</div>