@page "/user/{userId:guid}/reservations"
@attribute [Authorize]

<PageTitle>Ebla - My Reservations</PageTitle>

<div class="row">
    <div class="col-sm-8">
        <ReservationsTable Data="@ReservationList" />
    </div>
</div>